 * {
     border: 0;
     padding: 0;
     margin: 0;
 }

 #cabeçalho {
     background-color: #000;
 }

 #h1-titulo {
     color: #fff;
     padding-left: 10px;
 }

 .section1 {
     background-color: #000;
     height: 150px;
     margin: 0 auto;
     text-align: center;
     width: 90%;
 }

 .h2-section {
     color: #fff;
     padding-left: 5px;
     text-align: center;
     font-size: 20px;
 }

 .p1 {
     color: #fff;
     padding-left: 5px;
     text-align: center;
     padding-top: 10px;
     font-size: 18px;
 }

 #rodapé {
     background-color: #000;
     margin-top: 30px;
     text-align: center;

 }

 .h2-rodapé {
     color: #fff;
 }

 .p-footer {
     color: #fff;
 }